Source: koan
Section: admin
Priority: optional
Maintainer: Jorgen Maas <jorgen.maas@gmail.com>
Build-Depends: debhelper (>= 7), git-core, python
Standards-Version: 3.8.0
Homepage: https://github.com/cobbler/

Package: koan
Architecture: all
Depends: ${python:Depends}, python, python-support, python-yaml, python-netaddr, lvm2, libvirt-bin, virtinst, syslinux | syslinux-common
Suggests: rsync, tftpd-hpa, mkisofs, tftpd-hpa, dhcp3-server, createrepo, selinux-utils
Description: kickstart-over-a-network (koan)
 Koan stands for kickstart-over-a-network.
 It's a Cobbler helper tool that supports virtualized guests installs
 and reinstalling existing Linux machines.

